<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
	<!--本地IP-->
	<add key="LocalIp" value="127.0.0.1" />
	<!--监听端口-->
	<add key="port" value="8899" />
	<!--日志级别 0=info 1=warn 2=error -->
	<add key="LogLevel" value="2" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
	<!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
	<!-- Set root logger level to ERROR and its appenders -->
	<!-- Print only messages of level DEBUG or above in the packages -->
	<logger name="loginfo">
	  <level value="DEBUG" />
	  <appender-ref ref="InfoAppender" />
	</logger>
	<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender,log4net">
	  <param name="File" value="Log/" />
	  <param name="AppendToFile" value="true" />
	  <!-- 切割最多文件数 -1表示不限制产生日志文件数-->
	  <param name="MaxSizeRollBackups" value="-1" />
	  <!-- 每个文件的大小限制  -->
	  <param name="MaximumFileSize" value="5MB" />
	  <!-- RollingStyle Composite 综合  Size 按大小  Date 按时间 -->
	  <param name="RollingStyle" value="Composite" />
	  <param name="DatePattern" value="&quot;log_&quot;yyyyMMdd&quot;.log&quot;" />
	  <param name="StaticLogFileName" value="false" />
	  <layout type="log4net.Layout.PatternLayout,log4net">
		<param name="ConversionPattern" value="&lt;HR &gt;%n时间：%d 线程：%t 等级：%-5p &lt;BR&gt;%n 信息：%m &lt;BR&gt;%n 告警：%exception" />
	  </layout>
	  <filter type="log4net.Filter.LevelRangeFilter">
		<param name="LevelMin" value="ALL" />
		<param name="LevelMax" value="OFF" />
	  </filter>
	</appender>
	<appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
	  <layout type="log4net.Layout.PatternLayout,log4net">
		<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
	  </layout>
	</appender>
  </log4net>
  <system.web>
	<membership defaultProvider="ClientAuthenticationMembershipProvider">
	  <providers>
		<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
	  </providers>
	</membership>
	<roleManager defaultProvider="ClientRoleProvider" enabled="true">
	  <providers>
		<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
	  </providers>
	</roleManager>
  </system.web>
</configuration>